html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.header{
    height: 10%;
    color: #fff;
    text-align: center
}

.main{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer{
    height: 10%;
    color: #fff;
    text-align: center;
}